.data-header {
	border-bottom: 1px solid @orange;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.meta-title {
	margin-bottom: 25px;
}
.post-content > a > img, 
.post-content > p {
	margin-bottom: 20px;
}