<div class="span12">
<div class="pagination">
  <ul>

  {% if paginator.previous_page %}
    <li class="prev"><a href="/blog/page{{ paginator.previous_page }}" title="Previous Page">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}

  <li{% if paginator.page == 1 %} class="active"{% endif %}><a href="/blog/">1</a></li>

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
    <li class="active"><a href="/blog/page{{count}}">{{count}}</a></li>
    {% else %}
    <li><a href="/blog/page{{count}}">{{count}}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="next"><a href="/blog/page{{ paginator.next_page }}" title="Next Page">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a></li>
  {% endif %}
  </ul>
</div>
</div>
