<div class="row content" style="margin-left:0;">
  <div class="span2 date">
    <div class="date-header">
      <h2>{{ post.date | date: "%d" }}</h2>
      <span>{{ post.date | date: "%B" }}</span>
    </div>
    <ul class="date-tags">
      <li class="tagname"><i class="icon-tags"></i>Tags:</li>
      {% assign tags_list = post.tags %}  
      {% include JB/tags_list %}
    </ul>
  </div>
  <div class="span10">
    <div class="meta-title">
      <h2><a href="{{ post.id }}">{{ post.title }}</a></h2>
      <span>{{ post.tagline }}</span>
    </div>
    <div class="post-content">
      <a href="{{ post.id }}">
        {% if post.img %}
        <img src="/images/blog-images/{{ post.img }}.jpg" alt="">
        {% endif %}
      </a>
      {% if post.img %}
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      {% else %}
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
      {% endif %}
    </div>
    <div class="meta-date">
      <p>
        <button class="btn btn-small btn-primary" type="button">read more</button>
      </p>      
    </div>
  </div>
</div> 
   

