<div class="row">
  <div class="span1">
    <h2>{{ post.date | date: "%d" }}</h2>
    <span>{{ post.date | date: "%B" }}</span>
  </div>
  <div class="span6">
    <div class="meta-title">
      <h2><a href="{{ post.id }}">{{ post.title }}</a></h2>
    </div>
    <div class="post-content">
      <a href="{{ post.id }}">
        {% if post.img %}
        <img src="/images/blog-images/{{ post.img }}.jpg" alt="">
        {% endif %}
      </a>
      <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    </div>
    <div class="meta-date">
      <p>
        <button class="btn btn-small btn-primary" type="button">read more</button>
      </p>      
    </div>
  </div>
</div>    

